Package: librtmp-dev
Source: rtmpdump
Version: 2.4-n97-gita107cef-ppa8a~trusty
Architecture: amd64
Maintainer: Jon Davies <jon@hedgerows.org.uk>
Installed-Size: 273
Depends: libssl-dev
Section: libdevel
Priority: extra
Homepage: http://rtmpdump.mplayerhq.hu/
Description: toolkit for RTMP streams (development files)
 A small dumper for media content streamed over the RTMP protocol (like BBC's
 iPlayer high quality streams). Supplying an rtmp url will result in a dumped
 flv file, which can be played/transcoded using ffmpeg/mplayer, etc.
 .
 This package contains the development libraries, header files needed by
 programs that want to compile with librtmp, and a static library only.
 No shared library is provided to avoid conflicts arising from breaking
 changes in the library.
