Package: rtmpdump
Version: 2.4-n97-gita107cef-ppa8a~trusty
Architecture: amd64
Maintainer: Jon Davies <jon@hedgerows.org.uk>
Installed-Size: 633
Depends: libc6 (>= 2.15), libssl1.0.0 (>= 1.0.0), zlib1g (>= 1:1.1.4)
Section: web
Priority: extra
Homepage: http://rtmpdump.mplayerhq.hu/
Description: A small dumper for media content streamed over the RTMP protocol
 A small dumper for media content streamed over the RTMP protocol (like BBC's
 iPlayer high quality streams). Supplying an rtmp url will result in a dumped
 flv file, which can be played/transcoded using ffmpeg/mplayer, etc.
